# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright test results
test-results/
playwright-report/
videos/
screenshots/
trace/

# Env files
#.env

# Build output 
dist/
build/

# Editor
.vscode/
.idea/
.DS_Store
Thumbs.db